@import 'assets/scss/_variables.scss';

.snackbar {
  visibility: hidden;
  min-width: 250px;
  max-width: 300px;
  margin-left: -125px;
  color: $navbar-bg-color;
  text-align: center;
  border-radius: 2px;
  padding: 8px;
  position: fixed;
  z-index: 1;
  // left: 104%;
  top: 0px;
  right: 50px;
  border-radius: 6px;
}
.error {
  background-color: #ffcccc;
  border-top: 5px solid #ff0000;
}
.success {
  background-color: #6a983c;
  border-top: 5px solid green;
}

.content {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.icon {
  height: 25px;
  width: 25px;
  margin-right: 10px;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
.snackbar.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {
    right: 0;
    opacity: 0;
  }
  to {
    right: 50px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    right: 50px;
    opacity: 1;
  }
  to {
    right: 0;
    opacity: 0;
  }
}
