@import "assets/scss/_variables.scss";

button {
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.on {
  color: $golden-color;
}
.off {
<<<<<<< HEAD
  color: $secondary-color;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $border-color-primary;
  color: $background-color-white;
}

.star {
  margin-right: 5px;
=======
  color: $rating-gray-color;
>>>>>>> 831c95d30fa36eb0d95f23de446d18a7174550fc
}
