$navbar-bg-color: #131921;
$border-color-primary: #d1d1d1;
$color-white: #fff;
$font-normal: 'Poppins';
$font-heavy: '';
$text-color-green: #6a983c;
$bg-color-primary: #6a983c;
$bg-color-orange: #e5704b;
