@import "assets/scss/_variables.scss";
.f-14 {
  font-size: 14px;
}
.f-18 {
  font-size: 18px;
}
.f-22 {
  font-size: 22px;
}
.f-27 {
  font-size: 27px;
}

.f-12 {
  font-size: 12px;
}
.text-green {
  color: $text-color-green;
}
.text-white {
  color: $color-white;
}
.bold {
  font-weight: 700;
}
