@import 'assets/scss/_variables.scss';

.homepage {
  max-width: 1660px;
  width: 1440px;
  margin: auto;
  background-color: $background-color-white;
}

.homepage__components {
}
// .homepage__components__child {
//
//   max-width: 1660px;
//   width: 1440px;
//
// }
