@import 'assets/scss/_variables.scss';
.carousel__custom__container {
  width: 100%;

  .carousel__wrapper {
    width: 508px;
    margin: auto;
    overflow: hidden;
    position: relative;

    @include rwd(200) {
      width: 224px;
    }
    @include sm {
      width: 508px;
    }

    .next__btn {
      position: absolute;
      right: 0;
      top: calc(50% - 16px);
      z-index: 1;
      height: 48px;
      width: 32px;
      border: none;
      background-color: $black-color;
      color: $background-color-white;
    }
    .prev__btn {
      position: absolute;
      left: 0;
      top: calc(50% - 16px);
      z-index: 1;
      height: 48px;
      width: 32px;
      border: none;
      background-color: $black-color;
      color: $background-color-white;
    }
  }
}

.carousel__custom__content {
  transition: all 250ms ease;
}

.carousel__custom__content__img {
  height: 500px;
  width: 500px;
  object-fit: cover;
  @include rwd(200) {
    height: 220px;
    width: 220px;
  }
  @include sm {
    height: 500px;
    width: 500px;
  }
}
