@import 'assets/scss/_variables.scss';

.ctn {
  flex-direction: column;
  display: flex;
  border: 1px solid $border-color-primary;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 16px;
  width: 268px;
  height: 361px;
  max-height: 370px;
}

.product__card__image {
  width: 236px;
  max-height: 160px;
  object-fit: cover;
  border: 1px solid $border-color-primary;
  border-radius: 12px;
  transition: transform 250ms ease-in-out;
}
.ctn:hover .product__card__image {
  transform: translateY(-5px);
}

.details {
  display: flex;
  flex-direction: column;
}

.buy {
  margin-top: 16px;
  height: 53px;
  display: flex;
  justify-content: space-between;
}

.title {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
}

.summary {
  margin-top: 4px;

  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}

.discount__price {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}

.actual__price {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-decoration: line-through;
  color: $listItems-color;
}

.discountTag {
  margin-left: 12px;
  margin-top: 8px;
  top: 0;
  display: flex;
}
.cursor-pointer {
  cursor: pointer;
}
