@import 'assets/scss/_variables.scss';

.button {
  transition: background-color 250ms;
}
.button:hover {
  opacity: 0.8;
}

.pri {
  background: $primary-color;
  color: $background-color-white;
  border: 2px solid $primary-button-border;
}

.sec {
  background: $background-color-white;
  color: $black-color;
  border: 2px solid $primary-color;
}

.sim {
  background-color: $secondary-color;
  color: $black-color;
  border: 2px solid $secondary-color;
}

.str {
  background-color: $background-color-white;
  color: $black-color;
  border: 2px solid $background-color-white;
}

.lg {
  padding: 16.5px 48px;
}

.mid {
  padding: 12px 16px;
}

.sml {
  padding: 6.5px 12px;
}

.fa-angle-left {
  margin-right: 12px;
}

.fa-heart {
  margin-right: 12px;
}

.fa-angle-right {
  margin-left: 12px;
}

.sec i {
  color: $primary-color;
}

.str i {
  color: $primary-color;
}
