@import 'assets/scss/_variables.scss';
.carousel__custom__container {
  width: 100%;

  .carousel__wrapper {
    width: 508px;
    margin: auto;
    overflow: hidden;
    position: relative;

    .next__btn {
      position: absolute;
      right: 0;
      top: calc(50% - 16px);
      z-index: 1;
      height: 48px;
      width: 32px;
      border: none;
      background-color: $black-color;
      color: $background-color-white;
    }
    .prev__btn {
      position: absolute;
      left: 0;
      top: calc(50% - 16px);
      z-index: 1;
      height: 48px;
      width: 32px;
      border: none;
      background-color: $black-color;
      color: $background-color-white;
    }
  }
}

.carousel__custom__content {
  transition: all 250ms ease;
}
// .carousel__custom__content > * {
//   width: 500px;
// }
